<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      .mark_m {
        font-family:ABeeZee;
        font-size: 300%;
        transform: rotate(90deg);
        position: absolute;
        margin: -15px 0px 0px 0px;
      }

      .mark {
        font-family:ABeeZee;
        font-size: 225%;
        margin:50px 0px 0px 35px;
      }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>CI : Jenkins done 092302</p>    
    <div>
    <div class="mark_m">m</div>
    <p class="mark">ARK</p>
    </div>
  </body>
</html>
