<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <div class="container">
        <h1>KATA!!</h1>
        <ul>
            <li><a href='/kata/todo'>TODOLIST</a></li>
        </ul>
    </div>
  </body>    
</html>


